<section id="about" class="aside-module grid__item one-whole lap-one-half">
<a href="http://twitter.com/sys1yagi" class="twitter-follow-button" data-lang="ja">Follow @sys1yagi</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<br/><br/>
<script charset="utf-8" type="text/javascript" src="http://ws.amazon.co.jp/widgets/q?rt=ss_mfw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822/JP/white01-22/8001/578965f6-1400-4c12-9b9a-ba9a1e87f478"> </script> <noscript><a href="http://ws.amazon.co.jp/widgets/q?rt=ss_mfw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fwhite01-22%2F8001%2F578965f6-1400-4c12-9b9a-ba9a1e87f478&Operation=NoScript">Amazon.co.jp ウィジェット</a></noscript>
<br/>
</section>